.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Container-header {
  width: 300px;
  margin: 50px;
}

.Container-body {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
